.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  background-image: url('../../Images/login-main-desc-bg.png');
}

.loginBox {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 533px;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}

.loginBox h2 {
  color: #fbfbfb;
  font-family: Poppins;
  font-size: 26.963px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loginBox input {
  width: 400px;
  margin: 20px 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.4);
}
.loginBox input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.loginForm {
  display: column;
  justify-content: center;
  align-items: center;
}
.loginButton {
  width: 300px;
  height: 50px;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    97deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 50px;
  cursor: pointer;
}
.registerButton {
  width: 300px;
  height: 50px;
  padding: 12px;
  color: #623f8b;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background: #fcfcfc;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-top: 20px;
}
